{{#extends 'base'}}
{{#block 'content'}}
<div class="border border-dark rounded mx-auto px-4 my-5 shadow" style="max-width: 350px">
    <h2 class="pt-3">Login</h2>
    <p class="pb-2 lead text-muted">Welcome back!<br />Please login to your account.</p>
    <form method="POST" class="">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        {{{form}}}
        <div class="d-flex justify-content-end">
            <input type="submit" class="mt-2 mb-4 btn btn-dark" value="Login" />
        </div>
    </form>
</div>

{{/block}}
{{/extends}}