{{#extends 'base'}}

{{#block 'content'}}
<div class="border border-dark rounded mx-auto px-4 my-5 shadow" style="max-width: 450px">
    <h2 class="display-6 pt-3 pb-1">Add New Product</h2>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        {{{form}}}
        <div class="text-end">
            <a href="/products" class="btn btn-outline-secondary">Cancel</a>
            <input type="submit" value="Add Product" class="btn btn-dark my-4" />
        </div>
    </form>
</div>
{{/block}}

{{/extends}}