{{#extends 'base'}}

{{#block 'content'}}
<div class="border border-dark rounded mx-auto p-3 mt-4 shadow" style="max-width: 500px">
    <h2 class="display-6">Update Product</h2>
    <p class="pb-2 lead text-muted">{{product.name}} (Product ID: #{{product.id}})</p>
    <form method="POST" class="mx-auto">
        {{{form}}}
        <input type="submit" value="Update Product" class="mt-4 btn btn-dark" />
    </form>
</div>


{{/block}}

{{/extends}}