{{#extends 'base'}}
{{#block 'content'}}
<div class="border border-dark rounded mx-auto px-4 my-4 shadow" style="max-width: 500px">
    <h2 class="display-6 py-3">Add New Product</h2>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        {{{variantForm}}}
        <a href="/products" class="btn btn-outline-secondary">Cancel</a>
        <input type="submit" value="Add Product" class="btn btn-dark my-4" />
    </form>
</div>


{{/block}}
{{/extends}}